.App-content {
  /* text-align: center; */
  display: flex;
  padding-top: 10px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  margin: 0 20vw;
}

@include below($breakpoint-small) {
  .App-content {
    margin: 0 10vw;
  }
}

@include above($breakpoint-medium) {
}

@include between($breakpoint-medium, $breakpoint-large) {
}
