@mixin flex-column-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.user-avatar-container {
  background-color: $color-lightgreyblue;
  border-radius: 20px;
  margin: 40px;
  padding: 40px;
  max-width: 300px;
  min-width: 300px;
}
.user-score-container {
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  @include flex-column-center;
  flex-direction: row;
}

.scoreboard-container {
  @include flex-column-center;
  flex-direction: column;
}
