/*
 * base/_base.scss
 */

html {
  font-size: $font-base-size;
  font-family: $font-base-family;
  box-sizing: border-box;
}

body {
  // Set a standardized guaranteed line-height of 1, since the default
  // interpreted value of 'normal' is browser specific
  // http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation
  line-height: 1;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  // font-family: -apple-system, BlinkMacSystemFont, "Quicksand", "Roboto",
  //   "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-background;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Prevent overflowing of images in fluid containers
img {
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
